* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .up-container {
    flex-grow: 1;
    display: flex;
  }

  .sidebar {
    background-color: black;
  }

  .fa-circle-down {
    color: white;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .searcher {
    margin: 0 auto;
  }

  .upgrade-bar {
    background-color: black;
  }

  .player-bar {
    flex-shrink: 0;
    height: 80px;
    background-color: rgba(27, 25, 25, 0.438);

  }

  .player-bar-sx {
    flex-basis: 25%;
  }

  .player-bar-mx {
    flex-basis: 25%;
  }

  .player-bar-dx {
    flex-basis: 25%;
  }